.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/EditorUserBuildSettings.asset
Temp
*.userprefs
*.unityproj
*.csproj
*.pidb
*.sln
build
Library/CurrentLayout.dwlt
Library/ShaderCache
Library/ShaderCache.db
Library/shadercompiler-1.log
